$maxMobile: 767px;
$maxMedium: 768px;
$minMedium: 992px;
$minLarge: 1200px;

$text-color: #1E1E1E;
$main-color: #008080;
$paragraph-color: #575757;
$input-color: #7E7E7E;
$img-background-color: #E0F8F8;
$border-radius:20px 5px 20px 5px;
